body {
    font-size: 16px !important;
}

/* Loader */

#loader {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 20;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#bg-loader{
    display: none;
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.3;
}

/* Layout */

#my-pics {
    width: 1200px;
}

.img-carousel {
    width: 1200px;
}

.accueil-image {
    opacity: 1 !important;
}

/* Accueil */

.no-banner {
    padding-top: 10px !important;
}

/* Customisation */

/* .row-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
} */

.btn-atc {
    color: #fff !important;
}

.btn-atc:hover {
    opacity: 0.7;
}

.btn-atc::before {
    background: #ff774f !important;
    color: #fff !important;
    border: none !important;
    -webkit-transition: .3s background ease, .3s border ease;
    -o-transition: .3s background ease, .3s border ease;
    transition: .3s background ease, .3s border ease;
    -webkit-transform: skew(-8deg);
        -ms-transform: skew(-8deg);
            transform: skew(-8deg);
}

#erreur-msg-accueil {
    display: none;
    color: red;
}

.erreur-msg {
    display: none;
    color: red;
}

#erreur-msg-modal {
    display: none;
    color: red;
}

.panel-cadeau {
    margin-bottom: 1rem;
}

.panel-cadeau-input {
    margin-top: 1rem;
}

.add-cadeau {
    /* margin-top: 0.5rem;
    margin-bottom: 0.5rem; */
}

/* Achat */

#vider-panier {
    font-size: 16px;
    padding-bottom: 0.5rem;
    color: #ff774f;
    width: 150px;
    margin-left: auto;
}

#vider-panier:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Stripe */

.StripeElement {
    box-sizing: border-box;
    margin-bottom: 2rem;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #EBE6EA;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
  
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;    
}
  
.StripeElement--invalid {
    border-color: #fa755a;
}
  
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/* Modale paiement réussi */

#modale-succes-paiement-header {
    background-color: #DFF0D8;
}

#paiement-reussi {
    color: rgb(13, 121, 36);
}

#modale-error-paiement-header {
    background-color: #facbcb;
}

#paiement-echoue {
    color: rgb(121, 13, 13);
}
